{
	body {
		font-family: Consolas, monospace;
		font-size: 32px;
	}

	table {
		font-family: Times New Roman, monospace;
		border-collapse: collapse;
		font-size: 32px;
	}

	table,
	th,
	td {
		border: 1px solid black;
	}

	td {
		text-align: center;
		padding: 3px;
	}

	.centerr {
		text-align: center;
	}

	.centerrr {
		margin: 0 auto;
	}
}
